  <div class="container">
        <div class="jumbotron bg-light border border-danger">
          
          <h1 class="display-3 text-center">Eat Da Burger!</h1>
          
          <hr class="my-2">
           

          <p class="lead text-center m-1">Create or DEVOUR a Burger!</p>

          <div class="input-group m-1">
          <input type="text" class="form-control burgName" placeholder="" aria-label="" aria-describedby="basic-addon1">
          <div class="input-group-append">
            <button class="btn btn-danger newBurg" type="button">Add Burger</button>
          </div>
        </div>
          
        </div>
        
        <div class="row">
            <div class="col-md-6">
              <div class="card border border-danger">
  <div class="card-header">
    <h5>Burgers Available To DEVOUR!</h5>
  </div>
  <div class="card-body">
    <table class="table">
     <tbody>
            {{#each burgers}}
              {{#unless devoured}}
                <tr> 
                  <td class= "m-1">
              <span><strong> {{this.burger_name}}</strong>
               <button type="button" class="eatMe btn btn-warning"  data-id="{{this.id}}" data-newDevoured="{{devour}}"><img src="https://img.icons8.com/android/24/000000/restaurant.png"></button>
                    </span>
                      </td>
                        </tr> 
              {{/unless}}
              {{/each}}
              
        
     </tbody>
     </table>
  </div>
</div>
            </div>
            
      
        
        
        
              <div class="col-md-6">
         <div class="card border border-danger">
  <div class="card-header">
    <h5>Burgers DEVOURED!</h5>
  </div>
  <div class="card-body">
    <table class="table">
     <tbody>
            {{#each burgers}}
              {{#if devoured}}
                <tr> 
                  <td class= "m-1">
              <span><strong> {{this.burger_name}}</strong>
               
                    </span>
                      </td>
                        </tr> 
              {{/if}}
              {{/each}}
              
        
     </tbody>
     </table>
  </div>
</div>
            </div>       
          
        
        
    
        
       
        
    </div>
     <div class="row m-1">
        
        
        </div>

        </div>
        </div>

        